.aboutimg {
  max-height: 450px;
  position: absolute;
  top: 300px;
  margin-left: 240px;
  border: 1px solid #66fcf1;
}

.aboutTextbox {
  margin-left: 720px;
  margin-top: 293px;
  position: absolute;
  top: 6px;
  min-width: 800px;
}
