.footerNote {
  position: absolute;
  bottom: 18px;
  margin-left: 42%;
  min-width: 450px;
  color: #45a29e;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nameTitle {
  position: absolute;
  top: 0px;
  margin-left: 240px;
  color: #66fcf1;
}

h1 {
  font-size: 90px;
}

.aboutimg {
  max-height: 450px;
  position: absolute;
  top: 210px;
  margin-left: 240px;
  border: 1px solid #66fcf1;
}

.aboutTextbox {
  margin-left: 360px;
  margin-top: 97px;
  position: absolute;
  top: 6px;
}
