.mailLogo {
  margin-left: 192px;
  max-height: 240px;
  position: absolute;
  top: 540px;
}

.bounce {
  width: 6rem;
  height: 6rem;
  justify-content: space-around;
  display: flex;
}

.circle {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #66fcf1;
  border-radius: 0.75rem;
}

.contactbox {
  min-width: 930px;
}

.animatePosition {
  position: absolute;
  top: 660px;
  margin-left: 480px;
}

.messageLogo {
  width: 360px;
  position: absolute;
  top: 540px;
  margin-left: 480px;
}

.message {
  position: absolute;
  top: 570px;
  margin-left: 512px;
  color: #66fcf1;
  font-size: 30px;
  z-index: 1;
  width: 300px;
}
.email {
  color: #66fcf1;
}
