@font-face {
  font-family: 'readingfont';
  src: url('../../fonts/GemunuLibre-Regular.otf');
}

.computer {
  height: 360px;
  margin-left: 41%;
  position: absolute;
  top: 760px;
  z-index: -1;
}

.welcomemsg {
  font-family: 'readingfont';
  position: absolute;
  top: 845px;
  margin-left: 41%;
  padding-left: 120px;
  color: #45a29e;
  width: 180px;
  font-size: 18px;
}

.computertext1 {
  color: #66fcf1;
}

.computertext2 {
  color: #45a29e;
}

.welcomDescription {
  min-width: 1200px;
}
