@font-face {
  font-family: 'readingfont';
  src: url('../../fonts/GemunuLibre-Regular.otf');
}

.footerNote {
  position: absolute;
  bottom: 12px;
  margin-left: 43%;
  min-width: 300px;
  color: #45a29e;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nameTitle {
  position: absolute;
  top: 0px;
  margin-left: 180px;
  color: #66fcf1;
}

h1 {
  font-size: 60px;
  min-width: 460px;
}

h2 {
  position: absolute;
  top: 120px;
  margin-left: 182px;
  color: #c5c6c7;
}

p {
  font-family: 'readingfont';
  position: absolute;
  top: 180px;
  margin-left: 170px;
  color: #c5c6c7;
  margin-right: 120px;
  min-width: 420px;
  max-width: 660px;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 12px;
  border-radius: 6px;
  font-size: 22px;
  line-height: 30px;
}
