.navIcons {
  width: 54px;
  display: block;
  text-align: center;
  color: #45a29e;
  transition: transform 0.2s;
  padding-bottom: 9px;
}

.navIcons:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #66fcf1;
}
