.logos {
  width: 36px;
  display: block;
  margin: 0px auto 0px;
  text-align: center;
  color: #45a29e;
  transition: transform 0.2s;
  padding-bottom: 6px;
}

.logos:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #66fcf1;
}

.logobox {
  position: absolute;
  bottom: 10px;
  padding-left: 10px;
  color: #45a29e;
  font-size: 12px;
  padding-left: 14px;
  padding-bottom: 24px;
}

a {
  color: #45a29e;
}
