.logos {
  width: 54px;
  display: block;
  margin: 0px auto 0px;
  text-align: center;
  color: #45a29e;
  transition: transform 0.2s;
  padding-bottom: 9px;
}

.logos:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #66fcf1;
}

.logobox {
  position: absolute;
  top: 396px;
  bottom: 15px;
  padding-left: 15px;
  color: #45a29e;
  font-size: 18px;
  padding-left: 21px;
  padding-bottom: 36px;
}

a {
  color: #45a29e;
}
