.mlogo {
  z-index: -2;
  position: absolute;
  top: 210px;
  height: 600px;
  margin-left: 36%;
  align-items: center;
  opacity: 0.1;
}

.linkiconbox {
  position: absolute;
  color: #45a29e;
  font-size: 18px;
  padding-left: 21px;
}

.navcontainer {
  border-right: 2px solid #66fcf1;
  min-height: 1160px;
  position: absolute;
  top: 0;
  bottom: 0px;
  width: 186px;
  padding-top: 24px;
  display: block;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.footerNote {
  color: #45a29e;
  position: absolute;
  top: 1110px;
  margin-left: 41%;
  padding-left: 52px;
}
