@font-face {
  font-family: 'main';
  src: url('../../fonts/Antapani-ExtraBold.otf');
}

body {
  font-family: 'main';
  margin: 0px;
  background: #1f2833;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  max-width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: 1px solid #66fcf1;
}

li a {
  display: block;
  color: #66fcf1;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #66fcf1;
  color: black;
}

li a:hover:not(.active) {
  background-color: rgba(69, 162, 158, 0.6);
  color: black;
}
