.footerNote {
  color: #45a29e;
  position: absolute;
  top: 1110px;
  margin-left: 45%;
}
.nameTitle {
  position: absolute;
  top: 0px;
  margin-left: 240px;
  color: #66fcf1;
}

h1 {
  font-size: 90px;
}
h2 {
  min-width: 1000px;
}

.projectsTable {
  margin-left: 180px;
  border: none;
  position: absolute;
  top: 270px;
  min-width: 300px;
}
