.repoBox {
  font-family: 'readingfont';
  top: 0px;
  color: #c5c6c7;
  padding: 18px;
  margin-left: 0px;
}

.ul2 {
  width: 100%;
  min-width: 1400px;
  border: 0px;
  padding: 10px;
  position: absolute;
}

.listFloat {
  float: left;
}
