.repoBox {
  font-family: 'readingfont';
  top: 0px;
  color: #c5c6c7;
  padding: 18px;
  margin-left: 0px;
}

.ul2 {
  float: left;
  min-width: 80%;
  border: 0px;
  padding: 10px;
}

.listFloat {
  float: left;
}
