.footerNote {
  color: #45a29e;
  position: absolute;
  top: 1110px;
  margin-left: 45%;
}

footer {
  position: relative;
}

.nameTitle {
  position: absolute;
  top: 0px;
  margin-left: 240px;
  color: #66fcf1;
}

h1 {
  font-size: 90px;
}

h2 {
  position: absolute;
  top: 140px;
  margin-left: 240px;
  color: #c5c6c7;
  font-size: 60px;
}

.languagesblock {
  position: absolute;
  top: 300px;
  margin-left: 240px;
}

.frameworksblock {
  float: left;
  position: absolute;
  top: 300px;
  margin-left: 480px;
}
