.languagesblock {
  position: absolute;
  top: 300px;
  margin-left: 240px;
}

.frameworksblock {
  float: left;
  position: absolute;
  top: 300px;
  margin-left: 480px;
  min-width: 300px;
}

.skilltextBox {
  margin-left: 360px;
  min-width: 680px;
}
