.repBox {
  width: 360px;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 9px;
  border-radius: 9px;
  font-size: 24px;
  margin-bottom: 30px;
  display: inline-block;
  height: 180px;
  margin-right: 30px;
  padding-top: 30px;
}

.pn {
  font-size: 24px;
  display: block;
  padding-left: 24px;
}
