.logo {
  max-height: 90px;
  color: #c5c6c7;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 18px;
}

.fontplace {
  margin-left: 6px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}

.skillTextBox {
  margin-left: 540px;
}
